@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;500;600&display=swap');

body {
  background-color: #f3f3f3;
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

.Rectangle-4 {
  width: 476px;
  height: 534px;
  padding: 17px 0 24px;
  opacity: 0.2;
  background-color: #f3f3f3;
}

.Rectangle-Copy {
  width: 442px;
  height: 493px;
  margin: 0 16px 0 18px;
  padding: 0 16px 19px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--white-0);
}

.header {
  display: flex;
}

.engi-copy-2 {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 10px 0 0;
  padding: 7px 10px 5px;
}

span.faculty-name {
  display: block;
  width: 335.4px;
  height: 16px;
  font-family: Prompt;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #ff5a5a;
}

span.major-name {
  display: block;
  width: 203px;
  height: 16px;
  margin: 5px 77px 24px 10px;
  font-family: Prompt;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #9b9b9b;
}

span.u-name {
  width: 217.2px;
  height: 16px;
  margin: 24px 61.8px 9px 11px;
  font-family: Prompt;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: var(--warm-grey);
}

.engi-text { width: 330px; }

img.engi {
  width: 80px;
  height: 86px;
  padding: 0 0 1px;
  object-fit: contain;
}

/* span {
  width: 335.4px;
  height: 16px;
  font-family: Prompt;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: var(--grapefruit);
} */

.Path-4-Copy {
  width: 402px;
  height: 3px;
  margin: 0 4px 3px 0;
  border: solid 1px #d8d8d8;
}

.round-seats {
  width: 79px;
  height: 21px;
  margin: 14px 23px 16px 1px;
  font-family: Prompt;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.01;
  letter-spacing: normal;
  text-align: left;
  color: #5f5f5f;
}

.round-lists { display: flex; }

.Oval-2 {
  border-radius: 100px;
  width: 29px;
  height: 29px;
  margin: 0 8px 0 0;
  padding: 1px 12px 0 11px;
  background-color: #2ecc71;
}

.Oval-2-unavailable {
  border-radius: 100px;
  width: 29px;
  height: 29px;
  margin: 0 8px 0 0;
  padding: 1px 12px 0 11px;
  background-color: #d8d8d8;
}

.round-type { text-transform:capitalize; }

.score-container {
  display: flex;
}

.score-container .item {
  padding: 0 16px;
}